### QUICK EDA FOR ðŸ‘½ UFO SIGHTINGS AROUND THE WORLD DATASETðŸ›¸

I have two similar datasets with allegedly same data but one of them is already scrubbed. 
I'm going to compare them and do a quick EDA and then download the final .csv file in order to upload in MySQL.

In [1]:
import pandas as pd

C:\Users\Elsa\AppData\Local\Temp\ipykernel_12444\217833862.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
ufo1 = pd.read_csv("UFOcsv/ufo_sighting_data.csv")

C:\Users\Elsa\AppData\Local\Temp\ipykernel_12444\504465569.py:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo1 = pd.read_csv("UFOcsv/ufo_sighting_data.csv")

In [3]:
ufo2 = pd.read_csv("UFOcsv/scrubbed.csv")

C:\Users\Elsa\AppData\Local\Temp\ipykernel_12444\3459756761.py:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo2 = pd.read_csv("UFOcsv/scrubbed.csv")

In [4]:
unique_country_count = ufo2['country'].nunique()
print("Number of unique countries:", unique_country_count)

Number of unique countries: 5

In [7]:
ufo2['country'].unique()

array(['us', nan, 'gb', 'ca', 'au', 'de'], dtype=object)

In [16]:
ufo2[ufo2['country'] == 'us'].shape[0]

65114

In [4]:
ufo1.head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [6]:
ufo2.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [7]:
print(ufo1.shape)
print(ufo2.shape)

(80332, 11)
(80332, 11)

In [8]:
print(ufo1.columns)
print(ufo2.columns)

Index(['Date_time', 'city', 'state/province', 'country', 'UFO_shape',
       'length_of_encounter_seconds', 'described_duration_of_encounter',
       'description', 'date_documented', 'latitude', 'longitude'],
      dtype='object')
Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude '],
      dtype='object')

In [9]:
ufo1.info

<bound method DataFrame.info of               Date_time                  city state/province country  \
0      10/10/1949 20:30            san marcos             tx      us
1      10/10/1949 21:00          lackland afb             tx     NaN
2      10/10/1955 17:00  chester (uk/england)            NaN      gb
3      10/10/1956 21:00                  edna             tx      us
4      10/10/1960 20:00               kaneohe             hi      us
...                 ...                   ...            ...     ...
80327    9/9/2013 21:15             nashville             tn      us
80328    9/9/2013 22:00                 boise             id      us
80329    9/9/2013 22:00                  napa             ca      us
80330    9/9/2013 22:20                vienna             va      us
80331    9/9/2013 23:00                edmond             ok      us

      UFO_shape length_of_encounter_seconds described_duration_of_encounter  \
0      cylinder                        2700                      45 minutes
1         light                        7200                         1-2 hrs
2        circle                          20                      20 seconds
3        circle                          20                        1/2 hour
4         light                         900                      15 minutes
...         ...                         ...                             ...
80327     light                       600.0                      10 minutes
80328    circle                      1200.0                      20 minutes
80329     other                      1200.0                            hour
80330    circle                         5.0                       5 seconds
80331     cigar                      1020.0                      17 minutes

                                             description date_documented  \
0      This event took place in early fall around 194...       4/27/2004
1      1949 Lackland AFB&#44 TX.  Lights racing acros...      12/16/2005
2      Green/Orange circular disc over Chester&#44 En...       1/21/2008
3      My older brother and twin sister were leaving ...       1/17/2004
4      AS a Marine 1st Lt. flying an FJ4B fighter/att...       1/22/2004
...                                                  ...             ...
80327  Round from the distance/slowly changing colors...       9/30/2013
80328  Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...       9/30/2013
80329                                       Napa UFO&#44       9/30/2013
80330  Saw a five gold lit cicular craft moving fastl...       9/30/2013
80331  2 witnesses 2  miles apart&#44 Red &amp; White...       9/30/2013

         latitude   longitude
0      29.8830556  -97.941111
1        29.38421  -98.581082
2            53.2   -2.916667
3      28.9783333  -96.645833
4      21.4180556 -157.803611
...           ...         ...
80327   36.165833  -86.784444
80328   43.613611 -116.202500
80329   38.297222 -122.284444
80330   38.901111  -77.265556
80331   35.652778  -97.477778

[80332 rows x 11 columns]>

In [10]:
ufo2.info

<bound method DataFrame.info of                datetime                  city state country     shape  \
0      10/10/1949 20:30            san marcos    tx      us  cylinder
1      10/10/1949 21:00          lackland afb    tx     NaN     light
2      10/10/1955 17:00  chester (uk/england)   NaN      gb    circle
3      10/10/1956 21:00                  edna    tx      us    circle
4      10/10/1960 20:00               kaneohe    hi      us     light
...                 ...                   ...   ...     ...       ...
80327    9/9/2013 21:15             nashville    tn      us     light
80328    9/9/2013 22:00                 boise    id      us    circle
80329    9/9/2013 22:00                  napa    ca      us     other
80330    9/9/2013 22:20                vienna    va      us    circle
80331    9/9/2013 23:00                edmond    ok      us     cigar

      duration (seconds) duration (hours/min)  \
0                   2700           45 minutes
1                   7200              1-2 hrs
2                     20           20 seconds
3                     20             1/2 hour
4                    900           15 minutes
...                  ...                  ...
80327              600.0           10 minutes
80328             1200.0           20 minutes
80329             1200.0                 hour
80330                5.0            5 seconds
80331             1020.0           17 minutes

                                                comments date posted  \
0      This event took place in early fall around 194...   4/27/2004
1      1949 Lackland AFB&#44 TX.  Lights racing acros...  12/16/2005
2      Green/Orange circular disc over Chester&#44 En...   1/21/2008
3      My older brother and twin sister were leaving ...   1/17/2004
4      AS a Marine 1st Lt. flying an FJ4B fighter/att...   1/22/2004
...                                                  ...         ...
80327  Round from the distance/slowly changing colors...   9/30/2013
80328  Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...   9/30/2013
80329                                       Napa UFO&#44   9/30/2013
80330  Saw a five gold lit cicular craft moving fastl...   9/30/2013
80331  2 witnesses 2  miles apart&#44 Red &amp; White...   9/30/2013

         latitude  longitude
0      29.8830556  -97.941111
1        29.38421  -98.581082
2            53.2   -2.916667
3      28.9783333  -96.645833
4      21.4180556 -157.803611
...           ...         ...
80327   36.165833  -86.784444
80328   43.613611 -116.202500
80329   38.297222 -122.284444
80330   38.901111  -77.265556
80331   35.652778  -97.477778

[80332 rows x 11 columns]>

In [15]:
pd.isnull(ufo1)

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
80327,False,False,False,False,False,False,False,False,False,False,False
80328,False,False,False,False,False,False,False,False,False,False,False
80329,False,False,False,False,False,False,False,False,False,False,False
80330,False,False,False,False,False,False,False,False,False,False,False
80331,False,False,False,False,False,False,False,False,False,False,False

In [19]:
ufo1.isna().sum()

Date_time                             0
city                                  0
state/province                     5797
country                            9670
UFO_shape                          1932
length_of_encounter_seconds           0
described_duration_of_encounter       0
description                          15
date_documented                       0
latitude                              0
longitude                             0
dtype: int64

In [20]:
ufo2.isna().sum()

datetime                   0
city                       0
state                   5797
country                 9670
shape                   1932
duration (seconds)         0
duration (hours/min)       0
comments                  15
date posted                0
latitude                   0
longitude                  0
dtype: int64

In [21]:
#Filling the null values in "shape" column with the word "unknown"
ufo2['shape'].fillna('unknown', inplace=True)

In [23]:
#Dropping all the rows with missing country and state as the number of missing values is relatively small 
#compared to the total number of rows and they are randomly distributed, so I wont use Imputation 
#or predictive imputation in this case.
ufo2.dropna(subset=['country', 'state'], inplace=True)

In [25]:
ufo2['comments'].fillna('no_comment', inplace=True)

C:\Users\Elsa\AppData\Local\Temp\ipykernel_14836\1010614392.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ufo2['comments'].fillna('no_comment', inplace=True)

In [26]:
ufo2.isna().sum()

datetime                0
city                    0
state                   0
country                 0
shape                   0
duration (seconds)      0
duration (hours/min)    0
comments                0
date posted             0
latitude                0
longitude               0
dtype: int64

In [27]:
ufo2.to_csv('ufo_final.csv')